<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @book_review.user_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @book_review.integer %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book_review.book_id %>
</p>

<p>
   <% if @book_review.image.attached? %>
     <%= image_tag @book_review.image %>
   <% end %>
 </p>

 

<%= link_to 'Edit', edit_book_review_path(@book_review) %> |
<%= link_to 'Back', book_reviews_path %>
